@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

html,
body {
  font-family: "Inter", "Noto Sans KR", sans-serif;
}

/* Chrome autofill 파란 배경 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;

  /* 텍스트 색상도 재정의 */
  -webkit-text-fill-color: #000 !important;

  /* autofill 배경색 transition 제거 */
  transition: background-color 9999s ease-in-out 0s;
}
